<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Menu_escolar</title>
    <link href="css/bootstrap.min.css" rel="stylesheet" >
    <!-- <link rel="stylesheet" type="text/css" href="css/styles.css"> -->
    <!-- 404 no encontrado style -->

    <style>
      .menu {
        /* margin-left: 0.4rem; */
        font-weight: bold;
        /* border: 2px solid black;
        border-radius:  4px;
        padding: 0.4rem; */
      }
      .span-footer {
        color: yellow;
      }
      .btn_new {
        color: brown;
      }
    </style>
  </head>
  <body>
    <div class="container">
      {% block main %}
        <h1 class="text-center text-primary">Por implementar</h1>
      {% endblock  %}
    </div>
    <footer class="row mt-4">
      <div class="col-12 md-12 mt-5">
        <p class="text-center bg-success text-white"> Project  <span class="span-footer">{{app_name}}</span> by Mauricio VR </p>        
      </div>
    </footer>
    <script src="js/bootstrap.min.js"></script>
  </body>
</html>