{% extends 'base.html' %}
{% from 'macros.html' import navbar %}

{% block main %}
{{ navbar('/', school) }}
<div class="container">
  <p class="admin text-white me-4" hidden>{{ school.is_admin}}</p>
  <a class="btn_new nav-link {% if ruta == '/new_order' %}active{% endif %}" href="/new_order" hidden>Nuevo Pedido</a>
</div>

<div class="row">
  <div class="col-12 border border-3 border-dark mt-4 "  style="height: 600px;overflow: scroll;">
    <table class="table table-striped ">
      <thead class="sticky-top bg-dark text-white">
        <tr>
          <th scope="col">fecha</th>
          <th scope="col">liceo</th>
          <th scope="col">menu</th>
          <th scope="col">accion</th>
        </tr>
      </thead>
      <tbody>        
        {% for school in schools %}
          {% if school.liceo %}
            <tr>
              <td>{{school.date}}</td>
              <td>{{school.name}}/3</td>
              <td>{{school.menu}}%</td>
              <td>{{school.accion}}%</td>
            </tr>
          {%endif%}
        {%endfor%}
      </tbody>
    </table>
  </div>
</div>

<script>
  const usuario = document.querySelector('.admin')
  if (usuario.innerHTML == 'false') {
    console.log(usuario.innerHTML)
    const bton_new = document.querySelector('.btn_new')
    bton_new.removeAttribute('hidden')
  }
</script>
{% endblock %}