{% extends 'base.html' %}
{% from 'macros.html' import navbar %}

{% block main %}
{{ navbar('/', school) }}
<div class="container body">
  {% if school.is_admin %}
  <div>
    <button class="btn btn-outline-success mt-3"><a class="btn_new nav-link {% if ruta == '/new_order' %}active{% endif %}" href="/new_order">Nuevo Pedido</a></button>
    <p class="menus mt-3">Menús</p>
    <p>
      <span class="menu"> M1: </span><span> Vegetariano </span>
      <span class="menu"> M2: </span><span> Celiaco </span>
      <span class="menu"> M3: </span><span> Estandar </span>
      <span class="menu"> M4: </span><span> Calórico </span>
      <span class="menu"> M5: </span><span> Étnico </span>
    </p>
    <p>
      
    </p>
  </div>
  {% endif %}
</div>

<div class="row">
  <div class="col-12 border border-3 border-dark mt-4 " style="height: 600px;overflow: scroll;">
    <table class="table table-striped">
      <thead class="sticky-top bg-dark text-white">
        <tr>
          <th scope="col">Fecha</th>
          <th scope="col">Escuela</th>
          <th scope="col">M1</th>
          <th scope="col">M2</th>
          <th scope="col">M3</th>
          <th scope="col">M4</th>
          <th scope="col">M5</th>
          <th scope="col">Acción</th>
        </tr>
      </thead>
      <tbody>
        {% for orden in ordenes %}
          {% if orden.name %}
            {% if school.is_admin %}
              {% if orden.is_rectified %}
              <tr class=" table-warning">
                <td>{{orden.dateformat}}</td>
                <td>{{orden.name}}</td>
                <td>{{orden.vegetarian}}</td>
                <td>{{orden.celiac}}</td>
                <td>{{orden.standard}}</td>
                <td>{{orden.caloric}}</td>
                <td>{{orden.ethnic}}</td>
                <td>
                  <form action="/detalle" method="post">
                    <input id="orden" type="hidden" class="form-control" name="orden" value={{orden.id_order}} >
                    <input id="fecha" type="hidden" class="form-control" name="fecha" value="{{orden.dateformat}}" >
                    
                    <input type="hidden" class="form-control" name="observations" value="{{orden.observations}}" >
      
                    <input type="hidden" class="form-control" name="vegetarian" value={{orden.vegetarian}} >
                    <input type="hidden" class="form-control" name="celiac" value={{orden.celiac}} >
                    <input type="hidden" class="form-control" name="standard" value={{orden.standard}} >
                    <input type="hidden" class="form-control" name="caloric" value={{orden.caloric}} >
                    <input type="hidden" class="form-control" name="ethnic" value={{orden.ethnic}} >

                    <input type="hidden" class="form-control" name="ped_vegetarian" value={{orden.ped_vegetarian}} >
                    <input type="hidden" class="form-control" name="ped_celiac" value={{orden.ped_celiac}} >
                    <input type="hidden" class="form-control" name="ped_standard" value={{orden.ped_standard}} >
                    <input type="hidden" class="form-control" name="ped_caloric" value={{orden.ped_caloric}} >
                    <input type="hidden" class="form-control" name="ped_ethnic" value={{orden.ped_ethnic}} >
      
                    <button type="submit" class="btn btn-outline-primary">Detalle</button>
      
                  </form>
                </td>
              </tr>
              {% else %}
              <tr class=" table-success">
                <td>{{orden.dateformat}}</td>
                <td>{{orden.name}}</td>
                <td>{{orden.vegetarian}}</td>
                <td>{{orden.celiac}}</td>
                <td>{{orden.standard}}</td>
                <td>{{orden.caloric}}</td>
                <td>{{orden.ethnic}}</td>
                <td>
                  <form action="/rectify" method="post">
                    <input id="orden" type="hidden" class="form-control" name="orden" value={{orden.id_order}} >
                    <input id="fecha" type="hidden" class="form-control" name="fecha" value="{{orden.dateformat}}" >
      
                    <input type="hidden" class="form-control" name="vegetarian" value={{orden.vegetarian}} >
                    <input type="hidden" class="form-control" name="celiac" value={{orden.celiac}} >
                    <input type="hidden" class="form-control" name="standard" value={{orden.standard}} >
                    <input type="hidden" class="form-control" name="caloric" value={{orden.caloric}} >
                    <input type="hidden" class="form-control" name="ethnic" value={{orden.ethnic}} >
      
                    <button type="submit" class="btn btn-outline-primary">Rectificar</button>
      
                  </form>
                </td>
              </tr>
              {%endif%}
            {% else %}
            <tr>
              <td>{{orden.dateformat}}</td>
              <td>{{orden.name}}</td>
              <td>{{orden.vegetarian}}</td>
              <td>{{orden.celiac}}</td>
              <td>{{orden.standard}}</td>
              <td>{{orden.caloric}}</td>
              <td>{{orden.ethnic}}</td>
              <td>
                <button class="btn btn-outline-info"><a href="/login" class="auth-text text-dark">Acceder</a></button>
              </td>
            </tr>
            {%endif%}
          {%endif%}
        {%endfor%}
      </tbody>
    </table>
  </div>
</div>

{% endblock %}